* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  background-color: #33ff00;
  min-width: 0;
  min-height: 100vh;
  line-height: 1.5;
}

h1 {
  padding: 2rem 2rem 0rem 2rem;
  text-decoration: underline;
  text-decoration-style: wavy;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}

/* 
  shake effect by Sarah Drasner: 
  https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
  why not

  works on chromium
*/
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#raw-output:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

main {
  padding: 1rem 2rem 2rem;
}

form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
form label {
  font-weight: 600;
}

select {
  background-color: #fff;
  font-family: "Inter";
}

select:focus {
  outline: 0;
}

input {
  background-color: #fff;
  padding: 2px 5px 2px;
  border: 1px solid #000;
}

#card-output {
  display: flex;
  flex-wrap: wrap;
}

.song-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #000;
  width: 300px;
  transition: 0.4s;
}

.song-card:hover {
  background-color: #000;
  color: #33ff00;
}
